<h4>Patient Health Information</h4>
<div>
  <div class="mainclass">
    <div class="childclass childclass1">
      <p><span>Name : </span>Aakash Solanke</p>
      <p><span>Age : </span>22</p>
    </div>
    <div class="childclass childclass2">
      <p><span>Gender : </span>Male</p>
      <p><span>Blood Group : </span>o +ve</p>
    </div>
    <div class="childclass childclass3">
        <p><span>Last consultanton On : </span>16/02/2023</p>
        <p><span>Last consultation with : </span> Dr.Aakash</p>
    </div>
  </div>
</div>
<h3>Visit History</h3>
<p>Dr. Andrew on 1/27/2023</p>

<h3>Key Notes:</h3>


