<button mat-icon-button style="float: right; margin: 5px" matDialogClose>
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <header>
    <h1>Add Prescription Details</h1>
  </header>
  <p>
    <mat-form-field>
      <input matInput aria-placeholder="Name" />
      <mat-icon matSuffix>Name</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput aria-placeholder="Name" />
      <mat-icon matSuffix>Name</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput aria-placeholder="Name" />
      <mat-icon matSuffix>Name</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput aria-placeholder="Name" />
      <mat-icon matSuffix>Name</mat-icon>
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions matDialogClose>
  <button mat-raised-button color="primary">Save</button>
  <button mat-raised-button color="warn">cancal</button>
</mat-dialog-actions>
