<p>calendar works!</p>
<!-- <mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<!-- 
<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css"
rel="stylesheet" / > <link
href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css"
rel="stylesheet" / > <link
href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css"
rel="stylesheet" / > <link
href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css"
rel="stylesheet" / >

<ejs-calendar id="calendar" [value]="value" [min]="minDate" [max]="maxDate">
</ejs-calendar> -->
