$borderbottomcolor: grey;
$tablehoverbgcolor: f1f1f1;
h4 {
  padding-bottom: 20px;
  border-bottom: 1px solid $borderbottomcolor;
}
.mat-elevation-z8 {
  width: 100%;
  margin-top: 35px;
  box-shadow: none;
  .table-row:hover {
    background-color: $tablehoverbgcolor;
    cursor: pointer;
  }
  .btn-table-row {
    display: flex;
    padding: 15px 10px 15px 10px;
    .btn1 {
      margin-right: 10px;
    }
  }
}
.button-pending {
  float: right;
  margin-top: 15px;
}
