.mainclass {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
.childclass {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.maindiv {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.mainclass2 {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 7px 0 8px 0 grey;
  padding: 23px 15px;
  margin-right: 50px;
  width: 30%;
}
.class1 {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 7px 0 8px 0 grey;
  padding: 23px 15px;
  margin-right: 50px;
  width: 40%;
}
.class2 {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 7px 0 8px 0 grey;
  padding: 23px 15px;
  width: 30%;
}
.bold {
  font-weight: 800;
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  .demo-button {
    float: right;
    margin-bottom: 15px;
  }
  // padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.prescription-div {
  display: flex;
  justify-content: space-start;
  margin-top: 15px;
}
.save-change-div {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

.example-button-row {
  margin-left: 15px;
}

.example-button-row1 {
  margin-right: 15px;
  margin-bottom: 15px;
  float: right;
}
